{% extends 'admin_panel.html' %}
{% load static %}


{% block adminpack %}
<div class="card shadow w-100" >
    <div class="card-body">

        <h5 class="p-2" style="border-bottom: 2px solid orange;">All Product</h5>
        <div class="container-fluid">

            <table class="table table-bordered table-sm">
                <thead>
                <tr>
                    <th>S.No.</th>
                    <th>Image</th> 
                    <th>Product Name</th>
                    <th>Category</th>
                    <th>Price</th>
                    {% comment %} <th>Stock</th> {% endcomment %}
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for i in page_obj %}
                <tr>
                    <td>{{i.id}}</td>
                    <td><img src="{{ i.img1.url }}" style="width:40px"/></td>
                    <td>{{i.product.name}}<br>({{i.color}}) </td>
                    <td>{{i.category.name}}</td>
                    <td>{{i.price}}</td>
                    {% comment %} <td>{{i.stock}}</td> {% endcomment %}
                    <td>
                        <a href="" class=" btn-success btn">Edit</a>
                        {% comment %} {% url 'editproduct' i.id %} {% endcomment %}
                        <a href="" class=" btn btn-danger"
                        {% comment %} {% url 'deleteproduct' i.id %} {% endcomment %}
                           onclick="return confirm('Are You Sure ?')">Delete</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="col-lg-12 ">
                <div class="pagination justify-content-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                        <i class="ti-angle-left">PREVIOUS</i>
                                    </a>
                                </li>
                            {% endif %}
                            {% for page in page_obj.paginator.page_range %}
                                {% if page_obj.number == page %}
                                    <li class="page-item active"><a class="page-link" href="#">{{ page }}</a></li>
                                {% elif page > page_obj.number|add:'-3' and page < page_obj.number|add:'3' %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                        <i class="ti-angle-right">NEXT</i>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}