asgiref
attrs
autobahn
Automat
certifi
cffi
charset-normalizer
constantly
cryptography
daphne
Django
django-environ
hyperlink
idna
incremental
node
npm
npx
numpy
odict
optional-django
Pillow
plumber
psycopg2
pyasn1
pyasn1-modules
pycparser
pyOpenSSL
razorpay
requests
service-identity
six
sqlparse
Twisted

txaio
typing_extensions
tzdata
urllib3
webpack
zope.component
zope.deferredimport
zope.deprecation
zope.event
zope.hookable
zope.interface
zope.lifecycleevent
zope.proxy