{% extends 'base/base.html' %}

{% block content %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<form method="post">
  {% csrf_token %}
<div class="container">
	<div class="row">
		<div class="col-sm-4">
		    
		    <label>Current Password</label>
		    <div class="form-group pass_show"> 
               {{form.old_password}}
            </div> 
		       <label>New Password</label>
            <div class="form-group pass_show"> 
                {{form.new_password1}} 
            </div> 
		       <label>Confirm Password</label>
            <div class="form-group pass_show"> 
              {{form.new_password2}} 

            </div> 
            
		</div>  
	</div>
</div>
<button type="submit" value="submit" class="primary-btn">SUBMIT</button>
</form>


{% endblock %}