{% extends 'base/base.html' %}

{% load static %}
{% block content %}



<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6" >
                <div class="login_box_img">
                    <img class="img-fluid" src="{% static 'img/signup19.jpeg' %}" alt="">
                    <div class="hover">
                        <h4>New to our website?</h4>
                        <p>Welcome to our website! To start using our services, please register by clicking on the "Sign up here" button and filling out the required information.</p>
                        <a class="primary-btn" href="{% url 'register' %}">Sign up here</a>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-6">
                
                <div class="login_form_inner">
                    <br/>
            <br/>
            <br/>
                    <h3>Forgot Password</h3>
                    <form class="row login_form" action="{% url 'forgetpassword'%}" method="post" novalidate="novalidate" >
                        {% csrf_token %}
                        {% comment %} {%include 'includes/alert.html'%} {% endcomment %}


                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control"  name="email" placeholder="Enter your email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your email'">
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="primary-btn">SUBMIT</button>
                        </div>

                        {% for message in messages %}
                        <div class="alert alert-danger" role="alert">
                          {{message}}
                        </div>
                          {% endfor %}
                    
                    
                    
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->

{% endblock  %}