{% extends 'base/base.html' %}
{% load static %}
{% block content %}




<!--================Login Box Area =================-->
<style>.login_box_img {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
  }
  
  .card-img-overlay {
    margin-top: auto;
  }
  </style>
<br><br><br><br>
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-center">
                    <img src="{% static 'img/login-1.jpg' %}" alt="">
                </div>
                <div class="card-img-overlay hover">
                    <h4>New to our website?</h4>
                    <p>Welcome to our website! To start using our services, please register by clicking on the "Sign up here" button and filling out the required information.</p>
                    <a class="primary-btn" href="{% url 'register' %}">Sign up here</a>
                </div>
            </div>
            <div class="col-lg-6">
                {% for message in messages %}
                <div class="alert alert-warning col-8 shadow mx-auto text-danger" role="alert">
                  {{message}}
                </div>
                  {% endfor %}
                <div class="login_form_inner">
                    <h3>Log in to enter</h3>
                    <br>
                    <form class="row login_form" action="{% url 'login'%}" method="post" id="contactForm" >
                        {% csrf_token %}
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="" name="username" placeholder="Username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control"  name="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
                        </div>
                        <div class="col-md-12 form-group d-flex align-items-center">
                            <button type="submit" value="submit" class="primary-btn">Log In</button>
                            <a href="{% url 'forgetpassword' %}">Forgot Password?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</section>
<br><br><br><br>
<!--================End Login Box Area =================-->

{% endblock  %}


