{% extends 'base/base.html' %}

{% load static %}
{% block content %}



<!--================ Start Login Box Area =================-->

<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6" >
                <div class="login_box_img">
                    <img class="img-fluid" src="{% static 'img/signup19.jpeg' %}" alt="">
                    <div class="hover">
                        <h4>New to our website?</h4>
                        <p>Welcome to our website! To start using our services, please register by clicking on the "Sign up here" button and filling out the required information.</p>
                        <a class="primary-btn" href="{% url 'register' %}">Sign up here</a>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-6">
                
                <div class="login_form_inner">
                    <br/>
            <br/>
            <br/>        
            {% for message in messages %}
            <div class="alert alert-warning col-8 shadow mx-auto text-danger" role="alert">
              {{message}}
            </div>
            {% endfor %}
            <br>

                    <h3>Reset Your password</h3>
                    <form class="row login_form" action="{% url 'resetpassword'%}" method="post" id="contactForm" >
                        {% csrf_token %}
                        {% comment %} {%include 'includes/alert.html'%} {% endcomment %}


                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control"  name="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control"  name="confirm_password" placeholder="Confirm Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Confirm Password'">
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="primary-btn">RESET</button>
                        </div>

                    
                    
                    
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}